*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #FFF8F3;
    background: url(../images/developer.png),url(../images/header_bg.png) ,#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 51px;
    
}

.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
.colorr{
    color: #FD6E0A;
    font-size: 45px;
    font-weight: 900px;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
    
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 36px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.banner{
    display: flex;
    margin: 45px 0 38px 230px;
    
    align-items: center;
    justify-content: space-between;
    max-width: 1332px;
}
.banner .banner-content{
    max-width: 585px;
}
.banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;

}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}
.banner .banner-image1 img{
    max-width: 585px;
    vertical-align: middle;

}
.about{
    padding-top: 130px;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.about .about-container{
    max-width: 827px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
    
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
.about .about-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-info .info p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info .info h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #474747;
}
.skills{
    padding-top: 130px;
}
.skill-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    
}
.section-headin{
    text-align: center;
    width: 827px;
    margin: 0 auto;
}
.section-headin h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;

}
.section-headin p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 50px;
    text-align: center;
}
.skill-box{
    display: flex;
    gap: 24px;
}
.skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0px #00000027 ;
    
    
}
.skill-card img{
   max-width: 44px;
   margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.resume{
    padding-top: 130px;
    
    
}
.resume-card{
    width: 511px;
}
.heading1{
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
    color: #181818;
    font-weight: bold;
    
    
}
.resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.card-heading{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.card-title{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.card-info{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
    
}
.card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
hr{
    margin: 30px 0 30px 0;
}
.nbutton{
  margin: 50px 0 113px 0;
  text-align: center;
}